<div {% if not widget.attrs.style %}style="height:{{widget.height|default:'500px'}};width:{{widget.width|default:'90%'}};display:inline-block;"{% endif %}{% include "django/forms/widgets/attrs.html" %}></div>

<textarea id="{{widget.attrs.id}}_textarea" name="{{ widget.name }}" required="" style="display: none">{{ widget.value }}</textarea>

<script>
    (function() {
        var container = document.getElementById("{{ widget.attrs.id }}");
        var textarea = document.getElementById("{{widget.attrs.id}}_textarea");

        var options = {{ widget.options|safe }};
        options.onChange = function () {
            var json = editor.get();
            textarea.value=JSON.stringify(json);
        }

        var editor = new JSONEditor(container, options);
        var json = {{ widget.value|safe }};
        
        // var new_json = {}

        // console.log(json);
  
        // json.forEach(function CallBack(item, i) {
        //   console.log(i);
        //   console.log(item['title']);
        //   console.log(new_json);
          
        //   // check for duplicates
        //   new_title = null;
        //   if (new_json[item['title']]) {
        //     console.log('yes');
        //     new_title = item['title'] + '_' + i.toString();
        //   }
        //   else {console.log('no');}

        //   // add to new json
        //   if (item['value_name']) {
        //     if (new_title) {new_json[new_title] = item['value_name'];}
        //     else {new_json[item['title']] = item['value_name'];}
        //   } else {
        //     if (new_title) {new_json[new_title] = item['value'];}
        //     else {new_json[item['title']] = item['value'];}
        //   }
          
        //   if (item['old_value']) {
        //     new_json[item['title']] += ' (Edited)'
        //   }
        // })
  
        editor.set(json);
    })();
</script>
