<div {% if not widget.attrs.style %}style="height:{{widget.height|default:'500px'}};width:{{widget.width|default:'90%'}};display:inline-block;"{% endif %}{% include "django/forms/widgets/attrs.html" %}></div>

<textarea id="{{widget.attrs.id}}_textarea" name="{{ widget.name }}" required="" style="display: none">{{ widget.value }}</textarea>

<script>
    (function() {
        var container = document.getElementById("{{ widget.attrs.id }}");
        var textarea = document.getElementById("{{widget.attrs.id}}_textarea");

        var options = {{ widget.options|safe }};
        options.onChange = function () {
            var json = editor.get();
            var base_data = {{ widget.value|safe }};
            base_data.forEach(function CallBack(item, i) {
              value_in_editor = json[item['title']];
              if (value_in_editor == undefined) {
                value_in_editor = json[item['title'] + ' (Edited)'];
              }

              if ((item['title'].includes('Title') || item['title'].includes('Description')) && item['value'] != value_in_editor) {
                item['old_value'] = item['value'];
                item['old_value_name'] = '';
                item['value'] = value_in_editor;
              }
            })
            textarea.value=JSON.stringify(base_data);
        }

        var editor = new JSONEditor(container, options);
        var json = {{ widget.value|safe }};
        
        var new_json = {}
  
        json.forEach(function CallBack(item, i) {
          
          // check for duplicates
          new_title = null;
          if (new_json[item['title']]) {
            console.log('yes');
            new_title = item['title'] + '_' + i.toString();
          }
          else {console.log('no');}

          // add to new json
          if (item['value_name']) {
            if (new_title) {new_json[new_title] = item['value_name'];}
            else {new_json[item['title']] = item['value_name'];}
          } else {
            if (new_title) {new_json[new_title] = item['value'];}
            else {new_json[item['title']] = item['value'];}
          }
          
          if (item['old_value']) {
            new_json[item['title'] + ' (Edited)'] = new_json[item['title']];
            delete new_json[item['title']];
          }
        })
  
        editor.set(new_json);
    })();
</script>
